BIMRL_ETL.XplorerPlugin/bin/
BIMRL_ETL.XplorerPlugin/obj/
BIMRL_ETLConfig.XplorerPlugin/bin/
BIMRL_ETLConfig.XplorerPlugin/obj/
BIMRL_ETLDB/bin/
BIMRL_ETLDB/obj/
BIMRL_Main.XplorerPlugin/bin/
BIMRL_Main.XplorerPlugin/obj/
BIMRLCommon/bin/
BIMRLCommon/obj/
BIMRLDiffModelsCmd/bin/
BIMRLDiffModelsCmd/obj/
BIMRLDiffModelsUI/bin/
BIMRLDiffModelsUI/obj/
BIMRLGeomTester/bin/
BIMRLGeomTester/obj/
BIMRLGraph/bin/
BIMRLGraph/obj/
BIMRLGraphTest/bin/
BIMRLGraphTest/obj/
BIMRLMisc/bin/
BIMRLMisc/obj/
packages/
*~
